<div class="corpodosite">
    <div class="btn_adm">
       <div class="d-grid gap-2">
            <button class="btncontato" type="button"><a asp-action="Index" asp-controller="Contatoes" class="ancora">Mensagens</a></button>
       </div>
       <div class="d-grid gap-2">
            <button class="btncontato" type="button"><a asp-action="Index" asp-controller="ONGs" class="ancora">Cadastrar ONGs</a></button>
       </div>
       <div class="d-grid gap-2">
            <button class="btncontato" type="button"><a asp-action="Index" asp-controller="Logins" class="ancora">Cadastrar Login</a></button>
       </div>
    </div>
</div>
