    <header>
        <div id="topheader">
            <div><img src="~/Imagens/Pana.png" alt="Logo" id="logo"></div>
            <div class="socialicons">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook sociali"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram sociali"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp sociali"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navpersonalizada">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="index_es" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_es" asp-controller="Home">Cultura Brasileña</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_es" asp-controller="Home">¿Dónde encontrar ayuda?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="contato_es" asp-controller="Contatoes">Entre en contacto</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" asp-action="login_es" asp-controller="Home"><i class="bi bi-person-circle"></i></a> 
                  </li>
                 </ul> 
                 <div>
                     <ul class="navbar-nav idiomas">
                        <li><a asp-action="cultura_br" asp-controller="Home" class="nav-item br"><img src="https://img.icons8.com/fluency/48/000000/brazil-circular.png" alt="Idioma: Português-Brasil"></a></li>
                        <li><a asp-action="cultura_en" asp-controller="Home" class="nav-item en"><img src="https://img.icons8.com/fluency/48/000000/great-britain-circular.png" alt="Language: English"></a></li>
                        <li><a asp-action="cultura_fr" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/france-circular.png" alt="Langue: Français"></a></li>
                        <li><a asp-action="cultura_es" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/spain2-circular.png" alt="Idioma: Español"></a></li>                 
                        
                    </ul>
                </div>           
              </div>
            </div>
          </nav>
    </header>

    <div class="imgladoalado">
            <img src="~/Imagens/rgnorte.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Norte do Brasil">
            <img src="~/Imagens/rgnordeste.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Nordeste do Brasil">
            <img src="~/Imagens/rgcentrooeste.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Centro-Oeste do Brasil">
            <img src="~/Imagens/rgsudeste.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Sudeste do Brasil">
            <img src="~/Imagens/rgsul.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Sul do Brasil">
    </div>
    <div class="corpodosite">
        <h1>Sobre Brasil</h1>
        <h2>Cultura</h2>
        <p>La Cultura Brasileña es el resultado del mestizaje de diferentes grupos étnicos que participaron en la formación de la población brasileña. La diversidad cultural predominante en Brasil es también consecuencia de la gran extensión territorial y las características generadas en cada región del país. El individuo blanco, que participó en la formación de la cultura brasileña, formó parte de varios grupos que llegaron al país durante la época colonial.</p>
        <p>Fueron ellos, los colonizadores, los responsables de la formación inicial de la población brasileña. Esto resultó del proceso de mestizaje con indios africanos y negros, de 1500 a 1808. Durante tres siglos, los portugueses fueron los únicos europeos que pudieron entrar libremente en Brasil.</p>
        <p class="fonte">Fonte: <a href="https://www.todamateria.com.br/cultura-brasileira/" target="_blank"><em>TodaMateria</em></a></p>
        <h2>Religiones</h2>
        <p>El mestizaje de los brasileños también se muestra en su división religiosa, marcada por el sincretismo entre las religiones cristianas y los ritos africanos o indígenas. En enero de 2020, una encuesta realizada por Datafolha reveló que el 50% de los brasileños son católicos, el 31% evangélicos y el 10% no tienen religión.</p>
        <p>Aquellos que declararon no seguir ninguna religión, pueden creer en Dios, el poder del universo, o tener un lado espiritual, pero se contentan con no seguir ningún dogma específico.</p>
        <p>Los espíritas representan el 3% de la población brasileña, según la encuesta, y la comunidad espírita brasileña es la más grande del mundo.</p>
        <p>Según la encuesta, el 2% de los brasileños se adhieren a religiones afrobrasileñas. Las dos religiones afrobrasileñas con mayor número de adeptos en Brasil son la Umbanda y el Candomblé.</p>
        <p>Según Datafolha, el 2% de la población brasileña practica otras religiones. Entre ellos, podemos destacar el budismo, el hinduismo, el islam y las religiones esotéricas.</p>
        <p>Los ateos no creen que haya un Dios y, en general, tienen una mentalidad científica. Según una encuesta de Datafolha, el 1% de los brasileños se consideran ateos.</p>
        <p>La encuesta reveló que solo el 0,3% de la población brasileña es judía.</p>
        <p class="fonte">Fonte: <a href="https://www.maioresemelhores.com/maiores-religioes-brasil/" target="_blank"><em>MaioresEMelhores</em></a></p>
        <h2>Idioma</h2>
        <p>Brasil fue 'descubierto' por Portugal en el año 1500, y desde entonces, con la gran presencia de los portugueses en los territorios brasileños, la lengua portuguesa se ha arraigado, mientras que las lenguas indígenas han ido desapareciendo gradualmente. Uno de ellos, quizás el que más influyó en el portugués actual que se habla en Brasil, fue el tupinambá o tupi-guaraní, hablado por los indígenas que habitaban la costa. Este idioma fue el primero que se utilizó como idioma general en la colonia, junto con el portugués.</p>
        <p>El idioma portugués, hablado en Brasil, heredó, sin embargo, un vasto vocabulario de lenguas indígenas, especialmente en lo que respecta a los nombres de fauna, flora y otras palabras relacionadas con la naturaleza.</p>
        <p>Los portugueses luego trajeron muchos esclavos capturados en África para trabajar en tierras brasileñas, y estos llegaron hablando diferentes dialectos, lo que contribuyó a la construcción de nuestra lengua. Mucho de lo que tenemos hoy fue heredado de lenguas africanas, así como elementos culturales que vinieron con los esclavos y se establecieron aquí.</p>
        <p>El portugués brasileño también fue influenciado por los países españoles, holandeses y otros europeos que invadieron Brasil después de la independencia (1822). Esto explica por qué existen algunas diferencias de vocabulario y / o acento entre algunas regiones de Brasil.</p>
        <p class="fonte">Fonte: <a href="https://www.infoescola.com/portugues/historia-da-lingua-portuguesa-no-brasil/" target="_blank"><em>InfoEscola</em></a></p>
        <h2>Economía</h2>
        <p>Hoy, la economía brasileña se basa en la producción agrícola, lo que convierte a Brasil en uno de los principales exportadores de soja, pollo y jugo de naranja del mundo. Sigue siendo líder en la producción de azúcar y derivados de la caña de azúcar, celulosa y frutas tropicales.</p>
        <p>Asimismo, cuenta con una importante industria cárnica, con la creación y sacrificio de animales, ocupando la posición de tercer productor mundial de carne vacuna.</p>
        <p>En cuanto a la industria manufacturera, Brasil se destaca en la producción de piezas para abastecer a los sectores automotriz y aeronáutico. Asimismo, es uno de los principales productores de petróleo del mundo y domina la exploración de petróleo en aguas profundas.</p>
        <p class="fonte">Fonte: <a href="https://www.todamateria.com.br/economia-no-brasil/" target="_blank"><em>TodaMateria</em></a></p>
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg bg-primary navpersonalizada">
            <div class="container-fluid">
              <div class="collapse navbar-collapse rodapenav" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="index_es" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_es" asp-controller="Home">Cultura Brasileña</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_es" asp-controller="Home">¿Dónde encontrar ayuda?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="contato_es" asp-controller="Contatoes">Entre en contacto</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="hiddenicons">
            <ul class="flexicons">
                <li >
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
            </ul>
        </div>
        <div class="projeto">
          <p class="rodapeP">Pana - Refugiados - Squad 27 - <a href="https://recode.org.br/" target="_blank" class="ancora">Recode</a> 2022</p>
        </div>
    </footer>

