    <header>
        <div id="topheader">
            <div><img src="~/Imagens/Pana.png" alt="Logo" id="logo"></div>
            <div class="socialicons">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook sociali"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram sociali"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp sociali"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navpersonalizada">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_br" asp-controller="Home">Cultura Brasileira</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_br" asp-controller="Home">Onde Encontrar Ajuda?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Create" asp-controller="Contatoes">Entre em contato</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" asp-action="login_br" asp-controller="Home"><i class="bi bi-person-circle"></i></a> 
                  </li>
                 </ul> 
                 <div>
                     <ul class="navbar-nav idiomas">
                        <li><a asp-action="cultura_br" asp-controller="Home" class="nav-item br"><img src="https://img.icons8.com/fluency/48/000000/brazil-circular.png" alt="Idioma: Português-Brasil"></a></li>
                        <li><a asp-action="cultura_en" asp-controller="Home" class="nav-item en"><img src="https://img.icons8.com/fluency/48/000000/great-britain-circular.png" alt="Language: English"></a></li>
                        <li><a asp-action="cultura_fr" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/france-circular.png" alt="Langue: Français"></a></li>
                        <li><a asp-action="cultura_es" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/spain2-circular.png" alt="Idioma: Español"></a></li>                 
                        
                    </ul>
                </div>           
              </div>
            </div>
          </nav>
    </header>

    <div class="imgladoalado">
            <img src="~/Imagens/rgnorte.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Norte do Brasil">
            <img src="~/Imagens/rgnordeste.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Nordeste do Brasil">
            <img src="~/Imagens/rgcentrooeste.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Centro-Oeste do Brasil">
            <img src="~/Imagens/rgsudeste.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Sudeste do Brasil">
            <img src="~/Imagens/rgsul.jpg" class="rounded mx-auto d-block img20" alt="Cultura Região Sul do Brasil">
    </div>
    <div class="corpodosite">
        <h1>Sobre o Brasil</h1>
        <h2>Cultura</h2>
        <p>A Cultura Brasileira é o resultado da miscigenação de diversos grupos étnicos que participaram da formação da população brasileira. A diversidade cultural predominante no Brasil é consequência também da grande extensão territorial e das características geradas em cada região do país. O indivíduo branco, que participou da formação da cultura brasileira, fazia parte de vários grupos que chegaram ao país durante a época colonial.</p>
        <p>Foram eles, os colonizadores, os responsáveis pela formação inicial da população brasileira. Isso decorreu do processo de miscigenação com índios e negros africanos, de 1500 a 1808. Durante três séculos, os portugueses eram os únicos europeus que podiam entrar livremente no Brasil.</p>
        <p class="fonte">Fonte: <a href="https://www.todamateria.com.br/cultura-brasileira/" target="_blank"><em>TodaMateria</em></a></p>
        <h2>Religiões</h2>
        <p>A miscigenação dos brasileiros mostra-se também na sua divisão religiosa, marcada pelo sincretismo entre religiões cristãs e ritos de matriz africana ou indígena.
        Em janeiro de 2020, uma pesquisa realizada pelo Datafolha revelou que 50% dos brasileiros são católicos, 31% evangélicos e 10% não possuem religião.</p>
        <p>Os que declararam não seguir nenhuma religião, podem acreditar em Deus, na força do universo ou ter um lado espiritual, mas sentem-se satisfeitos em não seguir nenhum dogma específico.</p>
        <p>Os espíritas representam 3% da população brasileira, segundo a pesquisa, sendo que a comunidade espírita brasileira é a maior do mundo.</p>
        <p>Segundo a pesquisa, 2% dos brasileiros são adeptos de religiões afro-brasileiras. As duas religiões afro-brasileiras com o maior número de adeptos no Brasil são a Umbanda e o Candomblé.</p>
        <p>De acordo com o Datafolha, 2% da população brasileira pratica outras religiões. Dentre elas, podemos destacar o budismo, o hinduísmo, o islamismo e as religiões esotéricas.</p>
        <p>Os ateus não acreditam que exista um Deus e, geralmente, têm uma visão voltada à ciência. De acordo com a pesquisa do Datafolha, 1% do povo brasileiro se considera ateu.</p>
        <p>A pesquisa revelou que apenas 0,3% da população brasileira é judaica.</p>
        <p class="fonte">Fonte: <a href="https://www.maioresemelhores.com/maiores-religioes-brasil/" target="_blank"><em>MaioresEMelhores</em></a></p>
        <h2>Idioma</h2>
        <p>O Brasil foi "descoberto" por Portugal no ano de 1500, e desde então, com a grande presença dos portugueses nos territórios brasileiros, a língua portuguesa foi se enraizando, enquanto as línguas indígenas foram aos poucos desaparecendo. Uma delas, talvez a que mais influenciou o atual português falado no Brasil, foi o Tupinambá ou Tupi-guarani, falado pelos índios que habitavam o litoral. Esta língua foi a primeira utilizada como língua geral na colônia, ao lado do português.</p>
        <p>A língua portuguesa, falada no Brasil, herdou, no entanto, um vasto vocabulário das línguas indígenas, principalmente no que se diz respeito às denominações da fauna, flora, e demais palavras relacionadas à natureza.</p>
        <p>Os portugueses trouxeram, então, muitos escravos capturados na África, para trabalhar nas terras brasileiras, e estes vieram falando diversos dialetos, os quais contribuíram para a construção da nossa língua. Muito do que temos hoje, foi herdado das línguas africanas, bem como itens culturais que vieram junto com os escravos e aqui se instalaram.
        </p>
        <p>O português brasileiro sofreu, ainda, influências dos espanhóis, holandeses e demais países europeus que invadiram o Brasil após a independência (1822). Isso explica o porquê de algumas diferenças de vocabulário e/ou sotaque existentes entre algumas regiões do Brasil.
        </p>
        <p class="fonte">Fonte: <a href="https://www.infoescola.com/portugues/historia-da-lingua-portuguesa-no-brasil/" target="_blank"><em>InfoEscola</em></a></p>
        <h2>Economia</h2>
        <p>Hoje, a economia brasileira é baseada na produção agrícola, o que faz do Brasil um dos principais exportadores de soja, frango e suco de laranja do mundo. Ainda é líder na produção de açúcar e derivados da cana, celulose e frutas tropicais.
        </p>
        <p>Igualmente, possui uma importante indústria de carne, com a criação e abate de animais, ocupando o posto de terceiro produtor mundial de carne bovina.
        </p>
        <p>Em termos de indústria de transformação, o Brasil se destaca na produção de peças para abastecimento dos setores automotivos e aeronáuticos.
        Da mesma forma é um dos principais produtores de petróleo do mundo, dominando a exploração de petróleo em águas profundas. </p>
        <p class="fonte">Fonte: <a href="https://www.todamateria.com.br/economia-no-brasil/" target="_blank"><em>TodaMateria</em></a></p>
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg bg-primary navpersonalizada">
            <div class="container-fluid">
              <div class="collapse navbar-collapse rodapenav" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_br" asp-controller="Home">Cultura Brasileira</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_br" asp-controller="Home">Onde Encontrar Ajuda?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Create" asp-controller="Contatoes">Entre em contato</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="hiddenicons">
            <ul class="flexicons">
                <li >
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
            </ul>
        </div>
        <div class="projeto">
          <p class="rodapeP">Pana - Refugiados - Squad 27 - <a href="https://recode.org.br/" target="_blank" class="ancora">Recode</a> 2022</p>
        </div>
    </footer>





