@model refugiados.Models.Login

@{
    ViewData["Title"] = "Delete";
}

<div class="corpodosite">
<h1>Excluir Usuário</h1>

<h3>Você tem certeza que quer excluir o usuário?</h3>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLogin" />
        <button class="btn btn-secondary" type="button"><a asp-action="Index" class="ancora"><i class="bi bi-arrow-left-square"></i></a></button>
        <button type="submit" class="btn btn-danger ancora"><i class="bi bi-trash"></i></button>
    </form>
</div>
