    <header>
        <div id="topheader">
            <div><img src="~/Imagens/Pana.png" alt="Logo" id="logo"></div>
            <div class="socialicons">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook sociali"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram sociali"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp sociali"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navpersonalizada">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="index_fr" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_fr" asp-controller="Home">Culture Brésilienne</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_fr" asp-controller="Home">Où trouver de l'aide ?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="contato_fr" asp-controller="Contatoes">Contact</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" asp-action="login_fr" asp-controller="Home"><i class="bi bi-person-circle"></i></a> 
                  </li>
                 </ul> 
                 <div>
                     <ul class="navbar-nav idiomas">
                        <li><a asp-action="cultura_br" asp-controller="Home" class="nav-item br"><img src="https://img.icons8.com/fluency/48/000000/brazil-circular.png" alt="Idioma: Português-Brasil"></a></li>
                        <li><a asp-action="cultura_en" asp-controller="Home" class="nav-item en"><img src="https://img.icons8.com/fluency/48/000000/great-britain-circular.png" alt="Language: English"></a></li>
                        <li><a asp-action="cultura_fr" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/france-circular.png" alt="Langue: Français"></a></li>
                        <li><a asp-action="cultura_es" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/spain2-circular.png" alt="Idioma: Español"></a></li>                 
                        
                    </ul>
                </div>           
              </div>
            </div>
          </nav>
    </header>

    <div class="imgladoalado">
            <img src="~/Imagens/rgnorte.jpg" class="rounded mx-auto d-block img20" alt="Culture Région Nord du Brésil">
            <img src="~/Imagens/rgnordeste.jpg" class="rounded mx-auto d-block img20" alt="Culture Région Nord-Est du Brésil">
            <img src="~/Imagens/rgcentrooeste.jpg" class="rounded mx-auto d-block img20" alt="Culture Région Midwest du Brésil">
            <img src="~/Imagens/rgsudeste.jpg" class="rounded mx-auto d-block img20" alt="Culture Région sud-est du Brésil">
            <img src="~/Imagens/rgsul.jpg" class="rounded mx-auto d-block img20" alt="Culture Région Sud du Brésil">
    </div>
    <div class="corpodosite">
        <h1>À propos du Brésil</h1>
        <h2>Culture</h2>
        <p>La culture brésilienne est le résultat du métissage de différentes ethnies qui ont participé à la formation de la population brésilienne. La diversité culturelle prédominante au Brésil est également une conséquence de la grande extension territoriale et des caractéristiques générées dans chaque région du pays. L'individu blanc, qui a participé à la formation de la culture brésilienne, faisait partie de plusieurs groupes arrivés dans le pays à l'époque coloniale.</p>
        <p>Ce sont eux, les colonisateurs, qui sont responsables de la formation initiale de la population brésilienne. Cela résultait du processus de métissage avec des Indiens d'Afrique et des Noirs, de 1500 à 1808. Pendant trois siècles, les Portugais furent les seuls Européens à pouvoir entrer librement au Brésil.</p>
        <p class="fonte">La source: <a href="https://www.todamateria.com.br/cultura-brasileira/" target="_blank"><em>TodaMateria</em></a></p>
        <h2>Religions</h2>
        <p>Le métissage des Brésiliens se manifeste aussi dans leur division religieuse, marquée par le syncrétisme entre religions chrétiennes et rites africains ou indigènes.
        En janvier 2020, une enquête menée par Datafolha révélait que 50% des Brésiliens sont catholiques, 31% évangéliques et 10% n'ont pas de religion.</p>
        <p>Ceux qui ont déclaré ne suivre aucune religion peuvent croire en Dieu, au pouvoir de l'univers ou avoir un côté spirituel, mais se contenter de ne suivre aucun dogme spécifique.</p>
        <p>Les spirites représentent 3 % de la population brésilienne, selon l'enquête, et la communauté spirite brésilienne est la plus importante au monde.</p>
        <p>Selon l'enquête, 2% des Brésiliens adhèrent aux religions afro-brésiliennes. Les deux religions afro-brésiliennes avec le plus grand nombre d'adhérents au Brésil sont l'Umbanda et le Candomblé.</p>
        <p>Selon Datafolha, 2% de la population brésilienne pratique d'autres religions. Parmi eux, on peut souligner le bouddhisme, l'hindouisme, l'islam et les religions ésotériques.</p>
        <p>Les athées ne croient pas qu'il existe un Dieu et sont généralement d'esprit scientifique. Selon une enquête de Datafolha, 1% des Brésiliens se considèrent athées.</p>
        <p>L'enquête a révélé que seulement 0,3% de la population brésilienne est juive.</p>
        <p class="fonte">La source: <a href="https://www.maioresemelhores.com/maiores-religioes-brasil/" target="_blank"><em>MaioresEMelhores</em></a></p>
        <h2>Langue</h2>
        <p>Le Brésil a été "découvert" par le Portugal en l'an 1500, et depuis lors, avec la forte présence des Portugais dans les territoires brésiliens, la langue portugaise a pris racine, tandis que les langues indigènes ont progressivement disparu. L'un d'eux, peut-être celui qui a le plus influencé le portugais actuel parlé au Brésil, était le tupinambá ou tupi-guarani, parlé par les Indiens qui habitaient la côte. Cette langue fut la première utilisée comme langue générale dans la colonie, aux côtés du portugais.</p>
        <p>La langue portugaise, parlée au Brésil, a cependant hérité d'un vaste vocabulaire de langues indigènes, notamment en ce qui concerne les noms de faune, de flore et d'autres mots liés à la nature.</p>
        <p>Les Portugais ont ensuite amené de nombreux esclaves capturés en Afrique pour travailler sur les terres brésiliennes, et ceux-ci sont venus parler différents dialectes, ce qui a contribué à la construction de notre langue. Une grande partie de ce que nous avons aujourd'hui a été héritée des langues africaines, ainsi que des éléments culturels qui sont venus avec les esclaves et se sont installés ici.</p>
        <p>Le portugais brésilien a également été influencé par les pays espagnols, néerlandais et européens qui ont envahi le Brésil après l'indépendance (1822). Cela explique pourquoi certaines différences de vocabulaire et/ou d'accent existent entre certaines régions du Brésil.</p>
        <p class="fonte">La source: <a href="https://www.infoescola.com/portugues/historia-da-lingua-portuguesa-no-brasil/" target="_blank"><em>InfoEscola</em></a></p>
        <h2>Économie</h2>
        <p>Aujourd'hui, l'économie brésilienne repose sur la production agricole, ce qui fait du Brésil l'un des principaux exportateurs de soja, de poulet et de jus d'orange au monde. Elle est toujours leader dans la production de sucre et de dérivés de la canne à sucre, de cellulose et de fruits tropicaux.</p>
        <p>De même, il possède une importante industrie de la viande, avec la création et l'abattage d'animaux, occupant la position de troisième producteur mondial de viande bovine.</p>
        <p>Au niveau de l'industrie manufacturière, le Brésil se distingue dans la production de pièces pour approvisionner les secteurs automobile et aéronautique.
        De même, c'est l'un des principaux producteurs de pétrole au monde, dominant l'exploration pétrolière en eaux profondes.</p>
        <p class="fonte">La source: <a href="https://www.todamateria.com.br/economia-no-brasil/" target="_blank"><em>TodaMateria</em></a></p>
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg bg-primary navpersonalizada">
            <div class="container-fluid">
              <div class="collapse navbar-collapse rodapenav" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="index_fr" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_fr" asp-controller="Home">Culture Brésilienne</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_fr" asp-controller="Home">Où trouver de l'aide ?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="contato_fr" asp-controller="Contatoes">Contact</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="hiddenicons">
            <ul class="flexicons">
                <li >
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
            </ul>
        </div>
        <div class="projeto">
          <p class="rodapeP">Pana - Refugiados - Squad 27 - <a href="https://recode.org.br/" target="_blank" class="ancora">Recode</a> 2022</p>
        </div>
    </footer>





