    <header>
        <div id="topheader">
            <div><img src="~/Imagens/Pana.png" alt="Logo" id="logo"></div>
            <div class="socialicons">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook sociali"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram sociali"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp sociali"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navpersonalizada">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="index_en" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_en" asp-controller="Home">Brazilian Culture</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_en" asp-controller="Home">Where to Find Help?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="contato_en" asp-controller="Contatoes">Contact</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" asp-action="login_en" asp-controller="Home"><i class="bi bi-person-circle"></i></a> 
                  </li>
                 </ul> 
                 <div>
                     <ul class="navbar-nav idiomas">
                        <li><a asp-action="cultura_br" asp-controller="Home" class="nav-item br"><img src="https://img.icons8.com/fluency/48/000000/brazil-circular.png" alt="Idioma: Português-Brasil"></a></li>
                        <li><a asp-action="cultura_en" asp-controller="Home" class="nav-item en"><img src="https://img.icons8.com/fluency/48/000000/great-britain-circular.png" alt="Language: English"></a></li>
                        <li><a asp-action="cultura_fr" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/france-circular.png" alt="Langue: Français"></a></li>
                        <li><a asp-action="cultura_es" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/spain2-circular.png" alt="Idioma: Español"></a></li>                 
                        
                    </ul>
                </div>           
              </div>
            </div>
          </nav>
    </header>

    <div class="imgladoalado">
            <img src="~/Imagens/rgnorte.jpg" class="rounded mx-auto d-block img20" alt="Culture North of Brazil">
            <img src="~/Imagens/rgnordeste.jpg" class="rounded mx-auto d-block img20" alt="Culture North East of Brazil">
            <img src="~/Imagens/rgcentrooeste.jpg" class="rounded mx-auto d-block img20" alt="Culture Center-West of Brazil">
            <img src="~/Imagens/rgsudeste.jpg" class="rounded mx-auto d-block img20" alt="Culture South East of Brazil">
            <img src="~/Imagens/rgsul.jpg" class="rounded mx-auto d-block img20" alt="Culture South of Brazil">
    </div>
    <div class="corpodosite">
        <h1>About Brazil</h1>
        <h2>Culture</h2>
        <p>Brazilian Culture is the result of the miscegenation of different ethnic groups that participated in the formation of the Brazilian population. The predominant cultural diversity in Brazil is also a consequence of the large territorial extension and the characteristics generated in each region of the country. The white individual, who participated in the formation of Brazilian culture, was part of several groups that arrived in the country during colonial times.</p>
        <p>Was them, the colonizers, the responsibles for the initial formation of the Brazilian population. This resulted from the process of miscegenation with African Indians and blacks, from 1500 to 1808. For three centuries, the Portuguese were the only Europeans who could freely enter Brazil.</p>
        <p class="fonte">Source: <a href="https://www.todamateria.com.br/cultura-brasileira/" target="_blank"><em>TodaMateria</em></a></p>
        <h2>Religions</h2>
        <p>The miscegenation of Brazilians is also shown in their religious division, marked by the syncretism between Christian religions and African or indigenous rites. In January 2020, a survey carried out by Datafolha revealed that 50% of Brazilians are Catholic, 31% Evangelical and 10% do not have a religion.</p>
        <p>Those who declared not to follow any religion, may believe in God, the power of the universe, or have a spiritual side, but feel content not to follow any specific dogma.</p>
        <p>Spiritists represent 3% of the Brazilian population, according to the survey, and the Brazilian Spiritist community is the largest in the world.</p>
        <p>According to the survey, 2% of Brazilians adhere to Afro-Brazilian religions. The two Afro-Brazilian religions with the largest number of adherents in Brazil are Umbanda and Candomblé.</p>
        <p>According to Datafolha, 2% of the Brazilian population practices other religions. Among them, we can highlight Buddhism, Hinduism, Islam and esoteric religions.</p>
        <p>Atheists do not believe that there is a God and are generally scientifically minded.According to a survey by Datafolha, 1 % of the Brazilian people consider themselves atheists.</p>
        <p>The survey revealed that only 0.3% of the Brazilian population is Jewish.</p>
        <p class="fonte">Source: <a href="https://www.maioresemelhores.com/maiores-religioes-brasil/" target="_blank"><em>MaioresEMelhores</em></a></p>
        <h2>Language</h2>
        <p>Brazil was discovered by Portugal in the year 1500, and since then, with the large presence of the Portuguese in Brazilian territories, the Portuguese language has taken root, while the indigenous languages ​​have gradually disappeared. One of them, perhaps the one that most influenced the current Portuguese spoken in Brazil, was Tupinambá or Tupi-Guarani, spoken by the Indians who inhabited the coast. This language was the first used as a general language in the colony, alongside Portuguese.</p>
        <p>The Portuguese language, spoken in Brazil, inherited, however, a vast vocabulary of indigenous languages, especially with regard to the names of fauna, flora, and other words related to nature.</p>
        <p>The Portuguese then brought many slaves captured in Africa to work in Brazilian lands, and these came speaking different dialects, which contributed to the construction of our language. Much of what we have today was inherited from African languages, as well as cultural items that came along with the slaves and settled here.</p>
        <p>Brazilian Portuguese was also influenced by the Spanish, Dutch and other European countries that invaded Brazil after independence(1822).This explains why some differences in vocabulary and / or accent exist between some regions of Brazil.</p>
        <p class="fonte">Source: <a href="https://www.infoescola.com/portugues/historia-da-lingua-portuguesa-no-brasil/" target="_blank"><em>InfoEscola</em></a></p>
        <h2>Economy</h2>
        <p>Today, the Brazilian economy is based on agricultural production, which makes Brazil one of the main exporters of soy, chicken and orange juice in the world. It is still a leader in the production of sugar and sugarcane derivatives, cellulose and tropical fruits.</p>
        <p>Likewise, it has an important meat industry, with the creation and slaughter of animals, occupying the position of third world producer of beef.</p>
        <p>In terms of the manufacturing industry, Brazil stands out in the production of parts to supply the automotive and aeronautical sectors. Likewise, it is one of the world's leading oil producers, dominating deepwater oil exploration.</p>
        <p class="fonte">Source: <a href="https://www.todamateria.com.br/economia-no-brasil/" target="_blank"><em>TodaMateria</em></a></p>
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg bg-primary navpersonalizada">
            <div class="container-fluid">
              <div class="collapse navbar-collapse rodapenav" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="index_en" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_en" asp-controller="Home">Brazilian Culture</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_en" asp-controller="Home">Where to Find Help?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="contato_en" asp-controller="Contatoes">Contact</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="hiddenicons">
            <ul class="flexicons">
                <li >
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
            </ul>
        </div>
        <div class="projeto">
          <p class="rodapeP">Pana - Refugees - Squad 27 - <a href="https://recode.org.br/" target="_blank" class="ancora">Recode</a> 2022</p>
        </div>
    </footer>



