    <header>
        <div id="topheader">
            <div><img src="~/Imagens/Pana.png" alt="Logo" id="logo"></div>
            <div class="socialicons">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook sociali"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram sociali"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp sociali"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navpersonalizada">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_br" asp-controller="Home">Cultura Brasileira</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_br" asp-controller="Home">Onde Encontrar Ajuda?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Create" asp-controller="Contatoes">Entre em contato</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" asp-action="login_br" asp-controller="Home"><i class="bi bi-person-circle"></i></a> 
                  </li>
                 </ul> 
                 <div>
                     <ul class="navbar-nav idiomas">
                        <li><a asp-action="Index" asp-controller="Home" class="nav-item br"><img src="https://img.icons8.com/fluency/48/000000/brazil-circular.png" alt="Idioma: Português-Brasil"></a></li>
                        <li><a asp-action="index_en" asp-controller="Home" class="nav-item en"><img src="https://img.icons8.com/fluency/48/000000/great-britain-circular.png" alt="Language: English"></a></li>
                        <li><a asp-action="index_fr" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/france-circular.png" alt="Langue: Français"></a></li>
                        <li><a asp-action="index_es" asp-controller="Home" class="nav-item es"><img src="https://img.icons8.com/color/48/000000/spain2-circular.png" alt="Idioma: Español"></a></li>                 
                        
                    </ul>
                </div>           
              </div>
            </div>
          </nav>
    </header>

    <div class="carrossel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="~/Imagens/img1.jpeg" class="d-block w-100 imgcarrossel" alt="Diversidade Étnica">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Brasil: País de diversidade étnica</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/Imagens/img2.jpg" class="d-block w-100 imgcarrossel" alt="Diversidade Cultural">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Brasil: País de diversidade cultural</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/Imagens/img4.jpeg" class="d-block w-100 imgcarrossel" alt="Diversidade Religiosa">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Brasil: País de diversidade religiosa</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">         
              <span aria-hidden="true"><i class="bi bi-arrow-left carrosselicon"></i></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                
              <span aria-hidden="true"><i class="bi bi-arrow-right carrosselicon"></i></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="corpodosite">
        <h1>Refugiados no Brasil</h1>
        <p class="primeiroparagrafo">Refugiados recém-chegados no Brasil enfrentam problemas relacionados à saúde, alimentação, moradia, documentação, educação, trabalho digno e igualdade.</p>
        <p>A maioria dos refugiados chegam ao Brasil sem documentos. Eles encontram dificuldades em trocar a moeda nativa para o Real Brasileiro, e sem dinheiro, dependem de ajuda para conseguir moradia e alimentação digna. Os documentos são necessários para ter acesso à educação, saúde e trabalho. O idioma também é uma grande barreira para o refugiado que chega ao Brasil sem conhecimento da língua portuguesa. Como vimos acima, os problemas afetam o refugiado em muitos aspectos de sua vida, e por isso desejamos contribuir, informando a melhor maneira de ter acesso a diferentes serviços em um idioma que o refugiado possa entender.
        </p>
        <h2">Legislação Brasileira</h2>
        <p>A lei brasileira de refúgio nº  9474/1997 define como pessoa refugiada aquela que:</p>
        <p>I – devido a fundados temores de perseguição por motivos de raça, religião, nacionalidade, 
        grupo social ou opiniões políticas encontre-se fora de seu país de nacionalidade e não possa 
        ou não queira acolher-se à proteção de tal país;</p>
        <p>II – não tendo nacionalidade e estando fora do país onde antes teve sua residência habitual, 
        não possa ou não queira regressar a ele, em função das circunstâncias anteriores;    
        </p>
        <p>III – devido a grave e generalizada violação de direitos humanos, é obrigado a deixar seu país 
        de nacionalidade para buscar refúgio em outro país.</p>
        <h2>Direitos dos Refugiados</h2>
        <p>Um refugiado tem direito a buscar e receber refúgio em um lugar seguro. Contudo, a proteção 
        internacional abrange mais do que a segurança física. Os refugiados devem usufruir, pelo menos, 
        dos mesmos direitos e da mesma assistência básica que qualquer outro estrangeiro residindo 
        legalmente no país, incluindo liberdade de expressão e de movimento, e proteção contra tortura 
        e tratamento degrante.</p>
        <p>De igual modo, os direitos econômicos e sociais que se aplicam aos refugiados são os mesmos 
        que se aplicam a outros indivíduos. Pessoas refugiadas devem ter acesso à assistência médica. 
        Pessoas refugiadas adultas devem ter direito a trabalhar. Nenhuma criança refugiada deve ser
        privada de escolaridade.</p>
        <p>Entretanto, quando não há recursos governamentais disponíveis para atender demandas imediatas,
        muitas ongs prestam assistência oferecendo abrigo, alimentação, auxílio na retirada de documentos, 
        capacitação profissional e parceria com empresas para a empregabilidade dos refugiados.
        </p>
        <h2>Refugiados no Brasil</h2>
        <p>O Brasil é um dos poucos países no mundo que estabelece quotas anuais de reassentamento, além de
        aceitar aqueles que chegam espontaneamente às suas fronteiras. A maioria dos países consideram 
        pedidos de reassentamento caso a caso, normalmente com base na reunião familiar ou em fortes laços 
        culturais.</p>
        <p>Segundo dados divulgados pelo Comitê Nacional para os Refugiados (CONARE) na 6ª edição do relatório 
        “Refúgio em Números”, ao final de 2020 havia 57.099 pessoas refugiadas reconhecidas pelo Brasil.</p>
        <p>A nacionalidade com maior número de pessoas refugiadas reconhecidas, entre 2011 e 2020, é a 
        venezuelana (46.412), seguida dos sírios (3.594) e congoleses (1.050). Dentre os solicitantes 
        da condição de refugiado, as nacionalidades mais representativas foram de venezuelanos (60%), 
        haitianos (23%) e cubanos (5%).</p>
        <p class="fonte">Fonte: <a href="https://www.acnur.org/portugues/dados-sobre-refugio/perguntas-e-respostas/#direitos" 
            target="_blank"><em>AcnurBrasil</em></a></p>     
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg bg-primary navpersonalizada">
            <div class="container-fluid">
              <div class="collapse navbar-collapse rodapenav" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active personalnavconfig" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="cultura_br" asp-controller="Home">Cultura Brasileira</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="ajuda_br" asp-controller="Home">Onde Encontrar Ajuda?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Create" asp-controller="Contatoes">Entre em contato</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="hiddenicons">
            <ul class="flexicons">
                <li >
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a> 
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                  </li>
            </ul>
        </div>
        <div class="projeto">
          <p class="rodapeP">Pana - Refugiados - Squad 27 - <a href="https://recode.org.br/" target="_blank" class="ancora">Recode</a> 2022</p>
        </div>
    </footer>



    
    


    
